---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"00E7A6C7A4","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - e04849b7-8f81-4413-9920-389cb8a238e5
    body:
      encoding: UTF-8
      string: '{"id":"pay_u26oibpqa4hefirszv7opfy2ty","action_id":"act_u26oibpqa4hefirszv7opfy2ty","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"365568","eci":"05","scheme_id":"570895001372849","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_toxd2yvjsdlelieckfowkotabq","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_xwtxqa3y66euhnkwgpcwe7ijce","email":"user@workarea.com","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:07:50Z","reference":"00E7A6C7A4","processing":{"acquirer_transaction_id":"6585623337","retrieval_reference_number":"031253509280"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:50 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - f75d2c75-d9eb-4f00-851b-e4cd6c3466f1
    body:
      encoding: UTF-8
      string: '{"action_id":"act_w7nek47va4sundka2qguoh4c5q","reference":"00E7A6C7A4","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:51 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 30610915-6d1e-4cfe-a070-1ae0d22a34fd
    body:
      encoding: UTF-8
      string: '{"action_id":"act_7m6r34ltosmepicxr4qkoxbypq","reference":"00E7A6C7A4","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_u26oibpqa4hefirszv7opfy2ty"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:52 GMT
recorded_with: VCR 2.9.3
