---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 88b15e6b-fd88-4113-9a94-9960ffc17783
    body:
      encoding: UTF-8
      string: '{"id":"pay_7rfs4c32qpeuhm36vkvwpciy6i","action_id":"act_7rfs4c32qpeuhm36vkvwpciy6i","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"992504","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:00:23Z","processing":{"acquirer_transaction_id":"8138703061","retrieval_reference_number":"000992504906"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:24 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 5bbe3e0b-dad7-44ef-ab2b-bc59fdd503a8
    body:
      encoding: UTF-8
      string: '{"action_id":"act_s63k6o4gincelgjacy4yiny6lu","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_7rfs4c32qpeuhm36vkvwpciy6i"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:25 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"18D05F3ECC","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_lm63wuapkqculicy3bc4bzj3sy
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_lm63wuapkqculicy3bc4bzj3sy/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - b2277513-6c26-449c-b772-b71eafea6196
    body:
      encoding: UTF-8
      string: '{"action_id":"act_tg32iahzctjuretmquyx3ykc6m","reference":"18D05F3ECC","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_lm63wuapkqculicy3bc4bzj3sy"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:27 GMT
recorded_with: VCR 2.9.3
