---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 8e0a98b8-509e-48d1-b46f-3536e2d5edd2
    body:
      encoding: UTF-8
      string: '{"id":"pay_mqbgi4yeegoefaau5sejl6elka","action_id":"act_mqbgi4yeegoefaau5sejl6elka","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"895570","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:00:02Z","processing":{"acquirer_transaction_id":"8138703018","retrieval_reference_number":"000895570930"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:06 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 05f201be-cc4f-4ba9-a939-a84fb9bffa71
    body:
      encoding: UTF-8
      string: '{"action_id":"act_ziigx3dmdzmupnnmsf6hdbtw6e","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_mqbgi4yeegoefaau5sejl6elka"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:09 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"95BD522186","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_aao2kefrqywebj643e567zga7u
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_aao2kefrqywebj643e567zga7u/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 854e276b-9a7c-4100-9419-c1a3c1a6f0a3
    body:
      encoding: UTF-8
      string: '{"action_id":"act_x65uhanenfxexnoxwrrsxwwruy","reference":"95BD522186","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_aao2kefrqywebj643e567zga7u"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:11 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_aao2kefrqywebj643e567zga7u/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 6994069d-acc9-4ee3-86ab-888bd6ca3f46
    body:
      encoding: UTF-8
      string: '{"action_id":"act_z2obpjvkodvercml7tvdoccque","reference":"95BD522186","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_aao2kefrqywebj643e567zga7u"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:13 GMT
recorded_with: VCR 2.9.3
