---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 1c088353-acf3-43e8-9daf-c224bdc73962
    body:
      encoding: UTF-8
      string: '{"id":"pay_4mtswut7xmxullkwf2fandw5jy","action_id":"act_4mtswut7xmxullkwf2fandw5jy","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"488638","eci":"05","scheme_id":"043819598651571","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_rwbfsqk744pujpcqyrc77aalzy","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_j7brvs5yjc5urat47njykwe33a","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:07:53Z","processing":{"acquirer_transaction_id":"9155105867","retrieval_reference_number":"657688202046"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:53 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 80688335-f15e-409d-837b-bb9f43fde5a4
    body:
      encoding: UTF-8
      string: '{"action_id":"act_cjlwlqhejyru3f2afy4hlhmjgy","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:53 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 9d919f47-daed-4f3a-9a7c-9b1dd3b237db
    body:
      encoding: UTF-8
      string: '{"action_id":"act_yoflzjpmm2de5ks4z4rz653v2q","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_4mtswut7xmxullkwf2fandw5jy"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:54 GMT
recorded_with: VCR 2.9.3
