---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 94d7c027-90e1-424b-befd-1243f02178fa
    body:
      encoding: UTF-8
      string: '{"id":"pay_jem42a5hn6gu7nhbfyqprbcbaa","action_id":"act_jem42a5hn6gu7nhbfyqprbcbaa","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"944648","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:00:28Z","processing":{"acquirer_transaction_id":"8138703071","retrieval_reference_number":"000944648529"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:28 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 1ab5e10f-1fc4-4d1a-b864-93e8dbbad98a
    body:
      encoding: UTF-8
      string: '{"action_id":"act_htm2zpba6l5uvlfeah3wxu2nkq","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_jem42a5hn6gu7nhbfyqprbcbaa"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:29 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_ob5mbfzjxnwenksgtph2pxosbq
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-[...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_ob5mbfzjxnwenksgtph2pxosbq/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 6fa53679-5ba8-487e-9d0a-156d151ffc0a
    body:
      encoding: UTF-8
      string: '{"action_id":"act_ehuxqp6tivlexbo7tvywzmw55u","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_ob5mbfzjxnwenksgtph2pxosbq"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:31 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_ob5mbfzjxnwenksgtph2pxosbq/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 0a828d18-f611-4b66-bec9-77c8a0c48d47
    body:
      encoding: UTF-8
      string: '{"action_id":"act_kxunimrtyqaulnxklrqbgf4wbi","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_ob5mbfzjxnwenksgtph2pxosbq"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:32 GMT
recorded_with: VCR 2.9.3
