---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 294b3ebc-b7d3-4f3f-9e9c-14f463305d5a
    body:
      encoding: UTF-8
      string: '{"id":"pay_dhe6xurpw7qe7icoi3vutienn4","action_id":"act_dhe6xurpw7qe7icoi3vutienn4","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"770729","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:00:18Z","processing":{"acquirer_transaction_id":"8138703051","retrieval_reference_number":"000770729080"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:18 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - c5a78afc-ff67-4842-aea0-751c562f7185
    body:
      encoding: UTF-8
      string: '{"action_id":"act_h7dxzzcciftetifqjn2xhgrtwq","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_dhe6xurpw7qe7icoi3vutienn4"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:19 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_33mwtb3o4qsunofguuqtwk23oe
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-[...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_33mwtb3o4qsunofguuqtwk23oe/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 70c92945-cedc-4fb0-81d2-290ca9840f65
    body:
      encoding: UTF-8
      string: '{"action_id":"act_mmfwr3nfueoe5aq5p5gwyimefm","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_33mwtb3o4qsunofguuqtwk23oe"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:22 GMT
recorded_with: VCR 2.9.3
