---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 3b3df819-1274-4bfd-b637-0ff28dbe1e59
    body:
      encoding: UTF-8
      string: '{"id":"pay_rtkfe7hma3eerliem62zwtozqm","action_id":"act_rtkfe7hma3eerliem62zwtozqm","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"732316","eci":"05","scheme_id":"823258411803318","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_67e3fipsfsoe7iw2iwsiaxq6aq","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_bamj2bba6b5ebgv32dtc5ow2zi","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:07:58Z","processing":{"acquirer_transaction_id":"9025233614","retrieval_reference_number":"277776567210"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:58 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 0f656d73-c407-43af-8442-9c2e97b90260
    body:
      encoding: UTF-8
      string: '{"action_id":"act_te3s3mbsizlezfu537gun6xwwe","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_rtkfe7hma3eerliem62zwtozqm"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:59 GMT
recorded_with: VCR 2.9.3
