---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 978ffcbe-e7f0-4f18-be77-d22c827ebb95
    body:
      encoding: UTF-8
      string: '{"id":"pay_mii43oerrrnelno3kd7td2wqam","action_id":"act_mii43oerrrnelno3kd7td2wqam","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"571015","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:00:34Z","processing":{"acquirer_transaction_id":"8138703080","retrieval_reference_number":"000571015088"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:34 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - d6fcd302-37b6-4feb-9eb0-fa7780c850fd
    body:
      encoding: UTF-8
      string: '{"action_id":"act_mb4ficuhygfufoque63t6jsgae","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_mii43oerrrnelno3kd7td2wqam"}}}'
  recorded_at: Fri, 12 Jul 2019 13:00:35 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"F4C547FA8D","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_bmc5idlhfk4etpmvs2jfw2clzu
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
