---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"7CAC20CE85","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_zbt4jjlnwn3uvb45bhcw6probm
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 9e767175-532a-4590-827d-ccd12e6bdb93
    body:
      encoding: UTF-8
      string: '{"id":"pay_zbt4jjlnwn3uvb45bhcw6probm","action_id":"act_zbt4jjlnwn3uvb45bhcw6probm","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"044913","eci":"05","scheme_id":"817574151943287","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_toxd2yvjsdlelieckfowkotabq","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_xwtxqa3y66euhnkwgpcwe7ijce","email":"user@workarea.com","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:07:55Z","reference":"7CAC20CE85","processing":{"acquirer_transaction_id":"8433063531","retrieval_reference_number":"856927868141"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_zbt4jjlnwn3uvb45bhcw6probm"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_zbt4jjlnwn3uvb45bhcw6probm/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_zbt4jjlnwn3uvb45bhcw6probm/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_zbt4jjlnwn3uvb45bhcw6probm/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:07:55 GMT
recorded_with: VCR 2.9.3
