---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 0c6dd117-f2b5-4be7-9f09-4391283af273
    body:
      encoding: UTF-8
      string: '{"id":"pay_wlojbmf2bjuefc7ufjovyvkiny","action_id":"act_wlojbmf2bjuefc7ufjovyvkiny","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"883188","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:05:09Z","processing":{"acquirer_transaction_id":"8138703288","retrieval_reference_number":"000883188491"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:10 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - d4ca85eb-75c0-4e1c-97a6-b392ab43f19c
    body:
      encoding: UTF-8
      string: '{"action_id":"act_kkuzshfr3kqe3cdw2gub4ic2ny","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_wlojbmf2bjuefc7ufjovyvkiny"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:11 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"D23B7DDF65","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_sxg65so4apzunbqwksgizbw6ce
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_sxg65so4apzunbqwksgizbw6ce/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 9bbd112b-7f2d-49ce-905a-2e89f2e7a5c2
    body:
      encoding: UTF-8
      string: '{"action_id":"act_q2hid7zroalu3b6sgtax4plkpi","reference":"D23B7DDF65","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_sxg65so4apzunbqwksgizbw6ce"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:13 GMT
recorded_with: VCR 2.9.3
