---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"35D8194235","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 0c1f5f91-a889-4381-b775-d06c7a043261
    body:
      encoding: UTF-8
      string: '{"id":"pay_iasssvvxqmeutms64xhycelgum","action_id":"act_iasssvvxqmeutms64xhycelgum","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"372096","eci":"05","scheme_id":"732757557197645","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_toxd2yvjsdlelieckfowkotabq","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_xwtxqa3y66euhnkwgpcwe7ijce","email":"user@workarea.com","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:48:21Z","reference":"35D8194235","processing":{"acquirer_transaction_id":"7742939863","retrieval_reference_number":"153266679327"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:21 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 83c00e7d-0f37-4e34-845b-e7d4159a89fa
    body:
      encoding: UTF-8
      string: '{"action_id":"act_y3jfa4lgey7ufb2mekfzsf6gyu","reference":"35D8194235","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:22 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 1fadae98-67a1-4288-8bff-f28fb239617a
    body:
      encoding: UTF-8
      string: '{"action_id":"act_bqjuzprhffju3jgocr7op5fpia","reference":"35D8194235","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_iasssvvxqmeutms64xhycelgum"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:22 GMT
recorded_with: VCR 2.9.3
