---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - c8e5c686-3ad7-43cc-a0cd-046f2b515300
    body:
      encoding: UTF-8
      string: '{"id":"pay_jvt24sonlj7uzmmqx2nyrx36cq","action_id":"act_jvt24sonlj7uzmmqx2nyrx36cq","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"391214","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:04:52Z","processing":{"acquirer_transaction_id":"8138703257","retrieval_reference_number":"000391214747"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:52 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - a91213d0-8023-4644-88ff-fc4c5e324ba9
    body:
      encoding: UTF-8
      string: '{"action_id":"act_shx3noq262wunfyr5rwgzhladu","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_jvt24sonlj7uzmmqx2nyrx36cq"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:53 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"25451CA977","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_22hvfe43oy2ebgjlpkg5md3nku
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_22hvfe43oy2ebgjlpkg5md3nku/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 9c19ae65-6827-4b2b-b881-a9e9369b4ab9
    body:
      encoding: UTF-8
      string: '{"action_id":"act_2p4l7sogw6aepd5y5d5hgb6boi","reference":"25451CA977","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_22hvfe43oy2ebgjlpkg5md3nku"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:54 GMT
recorded_with: VCR 2.9.3
