---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 02aea5e1-6826-4120-8369-47831c73ecdf
    body:
      encoding: UTF-8
      string: '{"id":"pay_62ryx5ov2wiupogjtx3c3zo7ru","action_id":"act_62ryx5ov2wiupogjtx3c3zo7ru","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"357327","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:04:55Z","processing":{"acquirer_transaction_id":"8138703263","retrieval_reference_number":"000357327722"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:56 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Version:
      - 3.31.2
    body:
      encoding: UTF-8
      string: '{"action_id":"act_6mbiew2gshyurb3hixeieqryly","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_62ryx5ov2wiupogjtx3c3zo7ru"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:57 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"B28094B9D8","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_hgrqxbt24c5e3j622rgmgmq5km
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_hgrqxbt24c5e3j622rgmgmq5km/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - c2b58b8b-e396-4c21-b9c3-8bde39b7e202
    body:
      encoding: UTF-8
      string: '{"action_id":"act_kbra5wvem3ae5jncnrmzuywgie","reference":"B28094B9D8","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_hgrqxbt24c5e3j622rgmgmq5km"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:59 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_hgrqxbt24c5e3j622rgmgmq5km/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - ee0f887b-2ec8-429a-a75b-dde86a55c92b
    body:
      encoding: UTF-8
      string: '{"action_id":"act_db3ytetyerfuxe4bywcvav4g5e","reference":"B28094B9D8","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_hgrqxbt24c5e3j622rgmgmq5km"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:00 GMT
recorded_with: VCR 2.9.3
