---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - b3ae1b60-6cfa-44c7-9eab-df484e7f9e5b
    body:
      encoding: UTF-8
      string: '{"id":"pay_yiof2lrqydie3goiejxrs7guxe","action_id":"act_yiof2lrqydie3goiejxrs7guxe","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"182242","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:05:01Z","processing":{"acquirer_transaction_id":"8138703271","retrieval_reference_number":"000182242367"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:02 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - '07855bf5-204a-44d8-963d-d6433d888164'
    body:
      encoding: UTF-8
      string: '{"action_id":"act_4duwxkvqniiuzk2yawr2x7sjae","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_yiof2lrqydie3goiejxrs7guxe"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:02 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_6el3mggz5rperlefm4vw44mcka
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-[...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_6el3mggz5rperlefm4vw44mcka/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - dce0fd6c-d2b4-42e4-a469-634bde96cf97
    body:
      encoding: UTF-8
      string: '{"action_id":"act_lqfrxhui467edpcztcrqhc4g2u","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_6el3mggz5rperlefm4vw44mcka"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:04 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_6el3mggz5rperlefm4vw44mcka/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 54856f39-63c5-46df-8e28-38cead0e7553
    body:
      encoding: UTF-8
      string: '{"action_id":"act_jahrx6h3f5rehkej44kyrqnyu4","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_6el3mggz5rperlefm4vw44mcka"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:05 GMT
recorded_with: VCR 2.9.3
