---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 5194738e-58b1-4d10-bafd-34ebf6c775cf
    body:
      encoding: UTF-8
      string: '{"id":"pay_kg465yxcg5nuzmast5g2sdrzrq","action_id":"act_kg465yxcg5nuzmast5g2sdrzrq","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"856241","eci":"05","scheme_id":"674279811313235","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_huqbvwowatkevi5lvlwzycdcd4","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_uaznnchrgo6ulezhknck3oflwm","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:48:16Z","processing":{"acquirer_transaction_id":"4717817668","retrieval_reference_number":"762647833049"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:16 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - a4097e2b-db88-4711-8dfa-7de6b4bdc483
    body:
      encoding: UTF-8
      string: '{"action_id":"act_3f6fipogsrxujoqvdorrf62q4q","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:17 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq/refunds
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 885611e0-50d3-4690-bff4-7e6fd86034d0
    body:
      encoding: UTF-8
      string: '{"action_id":"act_gvwn53nsiffejesepylin4osnm","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_kg465yxcg5nuzmast5g2sdrzrq"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:18 GMT
recorded_with: VCR 2.9.3
