---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 67f0568d-0104-43b1-a2c0-9f6fd25d7789
    body:
      encoding: UTF-8
      string: '{"id":"pay_xxhlbitzb4zuboi5hra7qvfzc4","action_id":"act_xxhlbitzb4zuboi5hra7qvfzc4","amount":500,"currency":"USD","approved":true,"status":"Authorized","auth_code":"273451","eci":"05","scheme_id":"569047975377424","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_tmywhzv2tg4epbpcjxq4hrpwnu","type":"card","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","zip":"19106","country":"US"},"expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y","payouts":true,"fast_funds":"d"},"customer":{"id":"cus_ekiiy35rwvuezimk4v6atcernq","name":"Ben
        Crouse"},"processed_on":"2019-11-19T20:48:15Z","processing":{"acquirer_transaction_id":"3086866314","retrieval_reference_number":"129718838535"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4/voids"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:15 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.32.9
      Cko-Request-Id:
      - 0cb3589d-97f5-4a02-ac27-27cc18ba52fc
    body:
      encoding: UTF-8
      string: '{"action_id":"act_dozja76gzkbu7ixz3ha75mlyk4","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_xxhlbitzb4zuboi5hra7qvfzc4"}}}'
  recorded_at: Tue, 19 Nov 2019 20:48:15 GMT
recorded_with: VCR 2.9.3
