---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 6511e5a3-9583-4126-be9c-6ff29529a903
    body:
      encoding: UTF-8
      string: '{"id":"pay_3xczzndz2wyujdkooivj2lbifm","action_id":"act_3xczzndz2wyujdkooivj2lbifm","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"721461","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:04:48Z","processing":{"acquirer_transaction_id":"8138703250","retrieval_reference_number":"000721461070"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:48 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - '03504950-e4ed-4300-bdf5-bdbe06f1bf5d'
    body:
      encoding: UTF-8
      string: '{"action_id":"act_o2uctlgpiyrujk337wvbqgyb6q","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_3xczzndz2wyujdkooivj2lbifm"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:49 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_2jvql7ojhyxubd3mrpftekppoq
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-[...]
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_2jvql7ojhyxubd3mrpftekppoq/captures
    body:
      encoding: UTF-8
      string: '{"amount":"500","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"customer":{"email":null}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - ffb5486a-cf0d-4ca1-a787-9cc7d7961b4c
    body:
      encoding: UTF-8
      string: '{"action_id":"act_5zxdw4wmfsluxmodwgsaijbbju","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_2jvql7ojhyxubd3mrpftekppoq"}}}'
  recorded_at: Fri, 12 Jul 2019 13:04:51 GMT
recorded_with: VCR 2.9.3
