---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"100","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - b430f6f3-fa4e-4613-95a1-03a220f71e3e
    body:
      encoding: UTF-8
      string: '{"id":"pay_5udg5hvzdchuvff5ts4x34dbse","action_id":"act_5udg5hvzdchuvff5ts4x34dbse","amount":100,"currency":"USD","approved":true,"status":"Authorized","auth_code":"616718","eci":"05","scheme_id":"638284745624527","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_zwr2zdcuylfuhhgtk7yb7omxkq","email":"user@workarea.com","name":"Web
        User"},"processed_on":"2019-07-12T13:05:06Z","processing":{"acquirer_transaction_id":"8138703281","retrieval_reference_number":"000616718604"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse/actions"},"capture":{"href":"https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse/captures"},"void":{"href":"https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse/voids"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:07 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse/voids
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
      Cko-Request-Id:
      - 89e7eb58-89dc-44e3-9a4e-59458e53c37d
    body:
      encoding: UTF-8
      string: '{"action_id":"act_y5mvsiqlajtepaocay7nic6p7a","_links":{"payment":{"href":"https://api.sandbox.checkout.com/payments/pay_5udg5hvzdchuvff5ts4x34dbse"}}}'
  recorded_at: Fri, 12 Jul 2019 13:05:08 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"039AE8FCED","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_kgc7xfwp5gmuze7o3cuvcuunhu","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_njcuhwc7ypcufilwmzuly366x4
      Product:
      - Gateway
      Cko-Version:
      - 3.31.2
   [...]
