---
http_interactions:
- request:
    method: post
    uri: https://sandbox.checkout.com/api2/v2/charges/card
    body:
      encoding: UTF-8
      string: '{"autoCapture":"n","value":"0","trackId":null,"currency":"USD","descriptor":{},"card":{"name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiryYear":"2020","expiryMonth":"01"},"email":"user@workarea.com","transactionIndicator":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_c4a2323c-3e03-4c02-9988-2906f466b8b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Version:
      - 3.25.10
    body:
      encoding: UTF-8
      string: '{"id":"charge_test_8D29496E543W66F56605","liveMode":false,"created":"2019-02-25T18:33:04Z","value":0,"currency":"USD","trackId":null,"description":null,"email":"user@workarea.com","chargeMode":1,"transactionIndicator":1,"customerIp":null,"responseMessage":"Approved","responseAdvancedInfo":"Approved","responseCode":"10000","status":"Card
        Verified","authCode":"883849","isCascaded":false,"autoCapture":"N","autoCapTime":0.0,"card":{"customerId":"cust_6E3774DC-51F9-492A-A442-ADB96774DA78","expiryMonth":"01","expiryYear":"2020","billingDetails":null,"id":"card_EDD286C1-E6C8-4466-84A8-BE7062007D77","last4":"4242","bin":"424242","paymentMethod":"Visa","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","name":"Ben
        Crouse","cvvCheck":"Y","avsCheck":"S"},"riskCheck":true,"customerPaymentPlans":null,"metadata":{},"shippingDetails":{"addressLine1":null,"addressLine2":null,"postcode":null,"country":null,"city":null,"state":null,"phone":{}},"products":[],"udf1":null,"udf2":null,"udf3":null,"udf4":null,"udf5":null,"eci":"05"}'
  recorded_at: Mon, 25 Feb 2019 18:33:04 GMT
- request:
    method: post
    uri: https://sandbox.checkout.com/api2/v2/charges/card
    body:
      encoding: UTF-8
      string: '{"autoCapture":"n","value":"500","trackId":"D305A6B4F1","currency":"USD","descriptor":{},"cardId":"card_EDD286C1-E6C8-4466-84A8-BE7062007D77","customerId":"cust_6E3774DC-51F9-492A-A442-ADB96774DA78","transactionIndicator":1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_c4a2323c-3e03-4c02-9988-2906f466b8b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Version:
      - 3.25.10
    body:
      encoding: UTF-8
 [...]
- request:
    method: post
    uri: https://sandbox.checkout.com/api2/v2/charges/charge_test_BD39496E543U66F56606/capture
    body:
      encoding: UTF-8
      string: '{"value":"500","trackId":"D305A6B4F1","currency":"USD","descriptor":{}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_c4a2323c-3e03-4c02-9988-2906f466b8b5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Product:
      - Gateway
      Version:
      - 3.25.10
    body:
      encoding: UTF-8
      string: '{"id":"charge_test_0D09496E543R66F56608","originalId":"charge_test_BD39496E543U66F56606","liveMode":false,"created":"2019-02-25T18:33:06Z","value":500,"currency":"USD","trackId":"D305A6B4F1","description":null,"chargeMode":1,"responseMessage":"Approved","responseAdvancedInfo":"Approved","responseCode":"10000","status":"Captured","hasChargeback":"N","metadata":null,"products":[],"udf1":null,"udf2":null,"udf3":null,"udf4":null,"udf5":null}'
  recorded_at: Mon, 25 Feb 2019 18:33:06 GMT
recorded_with: VCR 2.9.3
